/*COLORS
Blue: #def0ef ;
Yellow: #ffe69d;
Green: #e6ecb7;
Red: #f2d4c3;
Brown: #c1987c; */

/*Navbar */

a:link {
    color: #c1987c;  
}

a:visited {
	color: #ffe69d ;
}
     

.justify-content-center {
    background-color: #def0ef;
}

body {
	font-family: 'Nunito Sans', sans-serif;
}

.navbarspacing {
	margin-top: 6px;
	margin-bottom: 6px;
}

.bookmembership {
	color:#ffe69d;
	background-color: #c1987c;
	margin-top: 6px;
	margin-bottom: 6px;
}

/* main */

h1 {
	text-align: center;
	color: #C1987C;
	font-weight: bold;
}

p {
	color: #707070;
	font-weight: 600;
	
}

.logo {
	width: 500px;
	
}

#title2 {
	color: #e6ecb7;
}

