/*COLORS
Blue: #def0ef ;
Yellow: #ffe69d;
Green: #e6ecb7;
Red: #f2d4c3;
Brown: #c1987c; */

a:link {
    color: #c1987c;  
}

a:visited {
	color: #c1987c ;
}
     

.justify-content-center {
    background-color: #def0ef;
}

body {
	font-family: 'Nunito Sans', sans-serif;
}

.navbarspacing {
	margin-top: 6px;
	margin-bottom: 6px;
}


section {
	background-color: white;
}

.col-4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	font-family: 'Nunito Sans', sans-serif;
	font-style: italic;
	font-weight: 200;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
	
}

.paragraphheader {
	font-family: 'Nunito Sans', sans-serif;
	font-style: italic;
	font-weight: 100;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
	color: #c1987c;
}

h1 {
	font-family: 'Nunito Sans', sans-serif;
	font-style: italic;
	font-weight: 500;
	font-size: 40px;
	text-align: center;
	margin-top: 10px;
}

.carouselheader {
	color: #c1987c;
	margin-top: 20px;
}

.nameposition {
	background-color: #def0ef;
	margin-top: 10px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.carousel {
	padding-top: 20px;
}

/*Footer styles*/

.social-icons{
	text-align: center;
}
.social-icons ul{
	display: inline-block;
	list-style-type: none;
}
.social-icons li img{
	width: 30px;
	height: 30px;
	margin-right: 20px;
}
ul.social-icons li{
	display: inline-block;
}

.footer{
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #e6ecb7;
}
/*Footer styles end*/

/*Book membership form styles*/
div.container-fluid membership{
	position: relative;
	display: block;
	text-align: center;
}
.membership {
	background-color: #def0ef;
}
.btn {
	background-color: #c1987c;
	border: 1px solid #c1987c;
}
form {
	display: inline-block;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #c1987c;
}
label{
	display: inline-block;
	width: 600px;
}
input{
	background: #ffe69d;
}
.btn{
	color: #c1987c;
}
#waterlily{
	padding-left: 60px;
	padding-top: 20px;
	float: right;
	max-width: 300px;
}
/*Book membership form styles end*/

/*Form confirmation styles*/
span img{
	max-width: 200px;
}
.confirmation{
	text-align: center;
	color: #c1987c;
	padding-top: 20px;
	padding-bottom: 20px;
}
.btn:hover{
	background-color: #e6ecb7;
	border: solid 2px white;
}
/*Form confirmation styles end*/

.Justification {
	color: #c1987c;
	background-color: #e6ecb7;
	font-weight: 100;
	font-size: 40px;
	text-align: center;

}

.Justification2 {
	color: #c1987c;
	background-color: #e6ecb7;
	font-weight: 80;
	font-size: 18px;	
	text-align: left;
	border: 5px black;
}

.Justification3 {
	color: #c1987c;
	background-color: #e6ecb7;
	text-align: center;
	font-size: 25px;
	font-weight: 80px;
}
.Justification4 {
	color: #c1987c;
	background-color: #e6ecb7;
	text-align: center;
	font-size: 18px;
	
}

.service-title {
	color: #c1987c;
	font-weight: 200;
}

.registerbutton {
	margin-top: 50px;
	margin-bottom: 30px;
	}

.btn {
	background-color:#f2d4c3;
	border: solid 2px white;
}

.servicepagecarousel {
	background-color: #def0ef;
}

.logo {
	width: 500px;
}

.picsize {
	width: 130px;
	height: 130px;
}

#book-membership {
	margin-top: 6px;
	border: 2px solid white;
	font-weight: 600;
}

.container {
	text-align: center;
	border-radius: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-check-label, .col-form-label{
	text-align: left;
}

#submit {
	margin-top: 50px;
	margin-left: 60px;
}

#anythingyouwouldliketoadd {
	margin-left: 5px;
	
}

#contactform {
	background-color: white;
	box-shadow: -10px 0px 20px #C1C1C1;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

#contactp {
	font-size: 16px;
}

#details {
	background-color: #ffe69d;
	margin-left: -50px;
	box-shadow: -10px 0px 20px #C1C1C1;
	height: 250px;
	margin-top: 55px;

}

.contactdetails {
	list-style: none;
	text-align: center;
	margin-left: -49px;
	line-height: 2.8;
	font-family: 'Nunito Sans', sans-serif;
}

#contacth3 {
	margin-top: 10px;
	font-weight: 700;
	color: #343434;
	margin-left: -16px;
	font-size: 40px;
	
}

#contactname, #contactmail, #message {
	width: 550px;
	float: center;
	background-color: #def0ef;
	text-transform: uppercase;
	border: none;
	margin-bottom: 5px;
	border-radius: 3px;
	font-weight: 700;
	color: #343434;
	
}


#send{
	margin-left: 230px;
	margin-top: 10px;
	background-color: #ffe69d;
	font-weight: 700;
	color: #343434;
	padding-left: 30px;
	padding-right: 30px;
}

.col-form-label {
	width: 400px;
}
