/*COLORS
Blue: #def0ef ;
Yellow: #ffe69d;
Green: #e6ecb7;
Red: #f2d4c3;
Brown: #c1987c; */

a:link {
    color: #c1987c;  
}
       

.justify-content-center {
    background-color: #def0ef;
}

body {
	font-family: 'Nunito Sans', sans-serif;
}

section {
	background-color: #E6ECB7;
}

.col-4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	font-family: 'Nunito Sans', sans-serif;
	font-style: italic;
	font-weight: 100;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
	
}

.nameposition {
	background-color: ##def0ef; 
}